<form action="/book/add" method="post">
  <label for="">Title:</label>
  <input type="text" name="title">

  <label for="">Author:</label>
  <input type="text" name="author">

  <label for="">Author:
    <select id="author" name="author">
      <option value="suzanne-collins">Suzanne Collins</option>
      <option value="harper-lee">Harper Lee</option>
      <option value="joanne-rowling">Joanne Rowling</option>
      <option value="jane-austen">Jane Austen</option>
      <option value="stehpanie-meyer">Sthephenie Meyer</option>
      <option value="john-green">John Green</option>
      <option value="george-orwell">George Orwell</option>
      <option value="margaret-mitchell">Margaret Mitchell</option>
      <option value="suzanne-lewis">Suzanne Lewis</option>
      <option value="markus-zusak">Markus Zusak</option>
    </select>
  </label>

  <label for="">Description:</label>
  <input type="text" name="description">

  <label for="">Rate:</label>
  <input type="number" name="rating">

  <button type="submit">ADD</button>
</form>